* {
    font-family: monospace;
    text-align: center;
  }
  
p, select, button {
    font-size: 1.5rem;
  }
  
button, select {
    padding: 5px 8px;
  }
  
body {
    background: skyblue;
  }
  
.hide {
    display: none;
  }
  
svg {
    background: whitesmoke;
  }

.line {
    stroke: navy;
    fill-opacity: 0;
  }

.avPosition {
    stroke: darkgrey;
    stroke-dasharray: 10px;
  }

@media screen and (min-width: 900px) {
  svg {
    width: 80%;
  }
}

@media screen and (max-width: 899px) {
  svg {
    width: 100%;
  }
}