* {
    text-align: center;
  }

button {
  font-size: 0.75rem;
}
  
button, select {
    padding: 5px 8px;
  }
  
body {
    background: skyblue;
  }

.season-overview {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hide {
    display: none;
  }
  
svg {
    background: whitesmoke;
  }

.line {
    stroke: navy;
    fill-opacity: 0;
  }

.avPosition {
    stroke: darkgrey;
    stroke-dasharray: 10px;
  }

@media screen and (min-width: 900px) {
  svg {
    width: 80%;
  }
}

@media screen and (max-width: 899px) {
  svg {
    width: 100%;
  }
}

svg text.axis-text {
  font-size: x-small;
  text-anchor: middle;
  fill: slategray;
}

.selector-text {
  padding-bottom: 0.75rem;
}